:root {
  --time-text: hsl(0, 0%, 70%);
  --error-color: hsl(4, 90%, 58%);
  --error-bg: hsl(355, 74%, 91%);
  --error-text: hsl(355, 61%, 28%);

  --form-button-bg: hsl(357, 58%, 36%);
  --form-button-color: hsl(0, 0%, 100%);
  --form-button-hover: hsl(357, 58%, 46%);

  --light-details-button-hover: hsl(357, 55%, 33%);
  --dark-details-button-hover: hsl(357, 46%, 55%);

  --success-color: hsl(123, 38%, 57%);
  --success-bg: hsl(137, 41%, 88%);
  --success-text: hsl(137, 41%, 30%);

  --input-border: hsl(0, 0%, 72%);
  --light-input-bg: hsl(0, 0%, 100%);
  --dark-input-bg: hsl(260, 9%, 13%);

  --light-text: hsl(231, 17%, 16%);
  --dark-text: hsl(0, 0%, 97%);

  --light-bg: hsl(0, 0%, 100%);
  --dark-bg: hsl(224, 71%, 4%);

  --dark-border: hsl(217, 33%, 17%);
  --light-border: hsl(214, 32%, 91%);

  --dark-bg-lighter: hsl(260, 9%, 13%);
  --light-bg-lighter: hsl(0, 0%, 98%);

  --light-link-hover: hsl(357, 58%, 36%);
  --dark-link-hover: hsl(0, 0%, 69%);

  --light-button: hsl(357, 52%, 45%);
  --dark-button: hsl(356, 58%, 48%);

  --light-glide-hover: hsl(0, 100%, 97%);
  --dark-glide-hover: hsl(357, 100%, 10%);

  --light-shadow-color: hsla(0, 0%, 0%, 0.2);
  --dark-shadow-color: hsla(0, 0%, 100%, 0);

  --dark-mobile-nav-bg: hsla(224, 71%, 4%, 0.65);
  --light-mobile-nav-bg: hsla(0, 0%, 100%, 0.9);

  --light-theme-toggle-hover-bg: hsl(210, 40%, 96%);
  --dark-theme-toggle-hover-bg: hsl(217, 33%, 17%);

  --link-hover: var(--light-link-hover);
  --bg-color: var(--light-bg);
  --theme-color: var(--light-theme);
  --shadow-color: var(--light-shadow-color);
  --button-color: var(--light-button);
  --theme-toggle-bg: var(--light-theme-toggle-hover-bg);

  --bg-lighter: var(--light-bg-lighter);
  --base-border-color: var(--light-border);
  --base-text-color: var(--light-text);

  --mobile-nav-bg: var(--light-mobile-nav-bg);

  --input-bg: var(--light-input-bg);
  --glide-hover: var(--light-glide-hover);

  --details-button-hover: var(--light-details-button-hover);
}

.page--theme--dark {
  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
  --theme-color: var(--dark-theme);
  --link-hover: var(--dark-link-hover);
  --shadow-color: var(--dark-shadow-color);
  --button-color: var(--dark-button);
  --bg-lighter: var(--dark-bg-lighter);
  --base-border-color: var(--dark-border);
  --mobile-nav-bg: var(--dark-mobile-nav-bg);
  --base-text-color: var(--dark-text);
  --input-bg: var(--dark-input-bg);
  --glide-hover: var(--dark-glide-hover);
  --details-button-hover: var(--dark-details-button-hover);
  --theme-toggle-bg: var(--dark-theme-toggle-hover-bg);
}
