@use "./mixins" as *;
@use "./vars" as *;

.container {
  margin: 0 auto;

  @include mediaMobile {
    max-width: $container-mobile-max-width;
    padding-inline: $container-padding-inline;
  }

  @include mediaTablet {
    max-width: $container-tablet-max-width;
    padding-inline: $container-padding-inline;
  }

  @include mediaDesktop {
    max-width: $container-max-width;
    padding-inline: $container-padding-inline;
  }
}

.nav-container {
  @extend .container;

  @include mediaMobile {
    max-width: 100%;
  }
}
