@use "./vars" as *;

@mixin mediaMobile {
  @media (min-width: $smallest-screen) {
    @content;
  }
}

@mixin mediaBigPhone {
  @media (min-width: $container-mobile-max-width) {
    @content;
  }
}

@mixin mediaNavChange {
  @media (min-width: 547px) {
    @content;
  }
}

@mixin mediaTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mediaDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin mediaDesktop-big {
  @media (min-width: 1281px) {
    @content;
  }
}

@mixin nav-shadow {
  -webkit-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.24);
}

@mixin mouse-device {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}
