$section-margin-top: 5rem;
$section-within-margin-top: 2.2rem;

$scroll-padding-top: 2.25rem;

$font-primary: "Roboto Mono", monospace;
$font-secondary: "Lato", sans-serif;

$smallest-screen: 320px;
$container-padding-inline: 1rem;

$container-mobile-max-width: 460px;
$container-tablet-max-width: 850px;
$container-max-width: 1200px;
