@use "./helpers" as *;

.footer {
	border-top: 1px solid black;
  padding: 1.25rem;
	margin-top: calc($section-margin-top / 2);


	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
