@use "../abstracts" as *;

.join-us__form {
  grid-area: form;
  font-family: $font-secondary;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mediaTablet {
    align-items: center;
  }

  @include mediaDesktop {
    align-items: center;
  }
}

.form-inner-wrapper {
  width: 100%;
  max-width: $container-mobile-max-width;

  @include mediaMobile {
    padding: 0 1rem;
  }

  @include mediaTablet {
    padding-left: 1.85rem;
    padding: 0;
  }

  @include mediaDesktop {
    padding: 0;
  }
}

.input-group {
  position: relative;
  width: 100%;
}

.input-group:not(:last-child) {
  margin-bottom: 1.6rem;
}

.page--theme--dark .input-group:not(:last-child) {
  margin-bottom: 2.2rem;
}

.input-group:not(:last-child) {
  margin-bottom: 1.6rem;
}

.input-field {
  @include mediaMobile {
    width: 100%;
  }

  @include mediaTablet {
    width: 100%;
  }

  padding: 1rem 1.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--input-border);
  background: var(--input-bg);
}

.page--theme--dark .input-field {
  border: none;
  caret-color: #fff;
  color: var(--base-text-color);
}

.name-group--success,
.email-group--success {
  & .input-field {
    border: 1px solid var(--success-color);
  }

  & .input-label {
    color: var(--success-color);
  }

  & .input-helper-text {
    color: var(--success-color);
  }
}

.name-group--error,
.email-group--error {
  & .input-field {
    border: 1px solid var(--error-color);
  }

  & .input-label {
    color: var(--error-color);
  }

  & .input-helper-text {
    color: var(--error-color);
  }
}

.input-label {
  font-size: 0.8rem;
  position: absolute;
  padding: 0.25rem;
  left: 0.8rem;
  top: -0.7rem;
  background-color: #fff;
  color: var(--text-color);
}

.page--theme--dark .input-label {
  left: 0rem;
  top: -1.4rem;
  background: transparent;
}

.input-helper-text-wrapper {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;

  padding-left: 0.35rem;
  margin-top: 0.35rem;
}

.error-icon {
  font-size: 0.85rem;
  color: var(--error-color);
}

.input-helper-text {
  font-size: 0.75rem;
  color: var(--error-color);
}

.form__message {
  max-width: 100%;
  resize: vertical;
  min-height: 4rem;
  max-height: 12.5rem;
}

.form__button {
  width: 100%;
  padding: 0.85rem 0;
  font-size: 0.9rem;
  border: 0;
  background-color: var(--form-button-bg);
  color: var(--form-button-color);
  border-radius: 0.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &--success {
    display: none;
  }

  &--error {
    display: none;
  }

  &:hover {
    @include mouse-device {
      background-color: var(--form-button-hover);
    }
  }
}

.form__message--success {
  position: absolute;
  top: -1000%;
  border-radius: 0.25rem;
  background-color: var(--success-bg);
  color: var(--success-text);
  padding: 1rem 1rem;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form__message--success--active {
  position: relative;
  top: 0;
  opacity: 1;
}

.form__message--error {
  position: absolute;
  top: -1000%;
  border-radius: 0.25rem;
  background-color: var(--error-bg);
  color: var(--error-text);
  padding: 1rem 1rem;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form__message--error--active {
  position: relative;
  top: 0;
  opacity: 1;
}

.shake-form {
  animation: shake 0.3s ease-in forwards;
}

@keyframes shake {
  0% {
    transform: translateX(4px);
  }
  25% {
    transform: translateX(-9px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-9px);
  }
  100% {
    transform: translateX(0);
  }
}
