@use "../abstracts" as *;

.join-us {
  margin-top: $section-margin-top;
  max-width: 1300px;
  margin-inline: auto;
  position: relative;
  z-index: 2;
  color: var(--text-color);
  padding-inline: 1rem;

  @include mediaTablet {
    max-width: $container-tablet-max-width;
    padding-inline: $container-padding-inline;
  }

  @include mediaDesktop {
    max-width: $container-max-width;
    padding-inline: $container-padding-inline;
  }

  &__title {
    text-align: center;
  }

  &__grid {
    display: grid;
    margin-top: $section-within-margin-top;

    @include mediaMobile {
      grid-template-rows: auto;
      grid-template-areas:
        "map"
        "form";
      gap: 2.5rem;
    }

    @include mediaTablet {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 2rem;

      grid-template-areas: "form map";
    }

    @include mediaDesktop {
      display: grid;
      grid-template-columns: minmax(550px, 0.75fr) 1fr;
      column-gap: 2rem;
    }
  }
}

.map-wrapper {
  grid-area: map;
  position: relative;
  height: 250px;

  @include mediaTablet {
    height: 400px;
  }

  @include mediaDesktop {
    height: 500px;
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
}

.map-pin {
  font-size: 2rem;
}
