@use "./helpers" as *;

.location {
  margin-top: $section-margin-top;
  max-width: 1300px;
  margin-inline: auto;
  position: relative;
  z-index: 2;
  background-color: #fff;

  &__title {
    text-align: center;
  }

  &__content {
    margin-top: $section-within-margin-top;

    @include mediaMobile {
      display: grid;
      grid-template-rows: auto;
      gap: 1rem;
    }

    @include mediaDesktop {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;
    }
  }

  &__address {
    padding-left: 1rem;

    @include mediaMobile {
      display: block;
    }

    @include mediaDesktop {
      gap: 1rem;
      display: flex;
      flex-direction: column;
    }
  }
}

.location__map {
  flex-basis: 50%;
  position: relative;
  height: 500px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.map-pin {
  font-size: 2rem;
  color: color(pin, base);
}
