@use "../abstracts" as *;
$mobile-nav-bg: rgba(3, 7, 18, 0.65);

.nav {
  position: relative;
  z-index: 5;
  padding: 1rem 0;
  border-bottom: 1px solid var(--base-border-color);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
  }

  &__logo {
    width: 35px;
    height: 35px;
    color: var(--text-color);
  }

  @include nav-shadow;

  &__right-mobile {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include mediaNavChange {
      flex-grow: 1;
      justify-content: flex-end;
      margin-right: 2rem;
    }
  }

  &__list {
    display: flex;
    font-size: 0.9rem;
    gap: 2rem;
    font-family: $font-secondary;
    text-transform: uppercase;

    @include mediaMobile {
      margin: 0;
      visibility: hidden;
      padding: 2rem;
      position: fixed;
      top: 0px;
      right: 0;
      bottom: 0;
      width: 75vw;
      background: var(--mobile-nav-bg);
      color: var(--text-color);
      backdrop-filter: blur(10px);

      transform: translateX(200%);

      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      transition: transform 0.3s ease-in-out;
    }

    @include mediaNavChange {
      visibility: visible;
      position: static;
      inset: 0 0 0 0;
      padding: 0;
      transform: translateX(0);
      background: none;
      width: max-content;
      flex-direction: row;
    }
  }

  &__list--active {
    transform: translateX(0);
    visibility: visible;
    border-left: 1px solid var(--dark-bg-lighter);
  }

  &__link {
    padding: 0.85rem 0;
    transition: color 0.1s ease-in-out;
    color: var(--text-color);

    &:hover {
      @include mouse-device {
        color: var(--link-hover);
      }
    }
  }

  &__close {
    font-size: 1.4rem;
    position: absolute;
    top: 1.25rem;
    right: $container-padding-inline * 1.25;

    @include mediaNavChange {
      display: none;
    }
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 1.5rem;
  height: 1.125rem;
  color: var(--base-text-color);

  cursor: pointer;

  @include mediaNavChange {
    display: none;
  }

  &__line {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--base-text-color);
    transition: transform 0.1s ease-in-out;
  }
}

.no-scroll {
  overflow: hidden !important;
}

.switch-toggle {
  position: fixed;
}
