@use "./helpers" as *;

.nav {
  position: relative;
  z-index: 5;
  padding: 1rem;
  background: color(black, 100);
  
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include nav-shadow;

  &__list {
    display: flex;
    gap: 2rem;
  }

  &__link {
  }
}
