@use "../abstracts" as *;

.timetable {
  margin-top: $section-margin-top;

  &__list {
    margin-top: $section-within-margin-top;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    @include mediaTablet {
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }

    gap: 1.4rem 1.85rem;
  }

  &__title {
    color: var(--text-color);
    text-align: center;
  }
}

.card {
  position: relative;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 0.5rem;

  &__time {
    font-family: $font-secondary;
    font-size: 0.7rem;
    margin-top: 0.3rem;
    color: var(--time-text);
    width: 35px;
    justify-self: center;
    text-align: end;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5rem;
    flex-grow: 1;
    border-radius: 0.35rem;
    border: 2px solid var(--base-border-color);
    color: var(--text-color);
  }

  &__title {
    font-size: 1.3rem;
    font-family: $font-secondary;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__desc {
    line-height: 1.4;
    color: inherit;
    font-size: 0.9rem;
    font-family: $font-secondary;
    margin-top: 1rem;
  }

  &__button {
    margin-top: 1.95rem;
    display: flex;
    align-items: center;
    width: max-content;
    gap: 1rem;
    color: var(--button-color);

    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      @include mouse-device {
        color: var(--details-button-hover);
      }
    }

    &:hover &__icon {
      @include mouse-device {
        animation-name: move;
        animation-duration: 0.55s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
      }
    }
  }

  &__icon {
    position: relative;
    top: -0.125rem;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.1rem);
  }
  100% {
    transform: translateX(0);
  }
}
