@use "../abstracts" as *;

.timetable {
  margin-top: $section-margin-top;

  &__list {
    margin-top: $section-within-margin-top;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    @include mediaTablet {
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }

    gap: 1.4rem 1.85rem;
  }

  &__title {
    text-align: center;
  }
}

.card {
  opacity: 0;
  transform: translateY(15%);
  position: relative;
  display: flex;
  gap: 1rem;

  transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;

  &__time {
    font-family: $font-secondary;
    font-size: 0.7rem;
    margin-top: 0.3rem;
    color: color(black, 200);
    width: 30px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5rem;
    flex-grow: 1;
    border-radius: 0.35rem;
    background: color(white, 400);
    box-shadow: inset -32px -32px 96px color(card-white, base),
      inset 32px 32px 96px color(card-white, light);
  }

  &__title {
    font-size: 1.3rem;
    font-family: $font-secondary;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__desc {
    line-height: 1.4;
    font-size: 0.9rem;
    font-family: $font-secondary;
    margin-top: 1rem;
  }

  &__button {
    margin-top: 1.95rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: color(button, base);

    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      @include mouse-device {
        color: color(button, base);
      }
    }

    &:hover &__icon {
      @include mouse-device {
        animation-name: move;
        animation-duration: 0.55s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
      }
    }
  }

  &__icon {
    position: relative;
    top: -0.125rem;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.1rem);
  }
  100% {
    transform: translateX(0);
  }
}
