@use "./utils/container.scss";
@use "./utils/normalize";
@use "./sections/hero";
@use "./sections/join-us";
@use "./sections/particles";
@use "./sections/nav";
@use "./sections/timetable";
@use "./utils/vars" as *;
@use "./sections/form";

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: $font-primary;
}


// development
* {
  // outline: 1px solid palevioletred;
}

@media (max-width: 320px) {
  body::after {
    content: "";
    position: fixed;
    z-index: 9999;
    inset: 0 0 0 0;
    background: rgba(10, 10, 10, 0.2);
    backdrop-filter: blur(2px);
  }
}
