@use "./utils/container.scss";
@use "./utils/normalize";
@use "./sections/hero";
@use "./sections//map";
@use "./sections/particles";
@use "./sections/nav";
@use "./sections/timetable";
@use "./utils/vars" as *;

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: $font-primary;
}
