@use "./abstracts/vars" as *;
@use "./sections/" as *;

html {
  scroll-behavior: smooth;
  scroll-padding-top: $scroll-padding-top;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: $font-primary;
  background: var(--bg-color);
}
