@use "./abstracts/vars" as *;
@use "./sections/" as *;

html {
  scroll-behavior: smooth;
  scroll-padding-top: $scroll-padding-top;
  max-width: 100vw;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: $font-primary;
  background: var(--bg-color);
}

#app {
  overflow-x: hidden;
}
