$theme-colors: (
  nav: (
    base: hsl(0, 0%, 97%),
  ),
  helper-text: (
    base: hsl(0, 0%, 40%),
  ),
  black: (
    100: hsl(0, 0%, 97%),
    200: hsl(0, 0%, 70%),
    300: hsl(0, 0%, 20%),
    400: hsl(0, 0%, 0%),
  ),
  background: (
    white: #f5f6fa,
  ),
  card-white: (
    base: hsl(0, 0%, 96%),
    light: hsl(0, 0%, 99%),
  ),
  white: (
    200: hsl(0, 0%, 600%),
    300: hsl(0, 0%, 80%),
    400: hsl(0, 0%, 100%),
  ),
  red: (
    300: hsl(4, 62%, 65%),
    400: hsl(4, 62%, 55%),
    500: hsl(4, 62%, 45%),
    700: hsl(4, 95%, 47%),
    error: hsl(4, 90%, 58%),
  ),
  green: (
    success: hsl(123, 38%, 57%),
  ),
  alert: (
    success-bg: hsl(137, 41%, 88%),
    success-text: hsl(137, 41%, 30%),
  ),
  button: (
    base: hsl(357, 52%, 45%),
    hover: hsl(357, 52%, 35%),
  ),
  outline-button: (
    base: hsl(240, 93%, 35%),
  ),
  pin: (
    base: hsl(236, 78%, 33%),
  ),
);

@function color($color, $tone) {
  @if map-has-key($theme-colors, $color) {
    $color: map-get($theme-colors, $color);

    @if map-has-key($color, $tone) {
      $tone: map-get($color, $tone);
      @return $tone;
    }

    @warn "unknown tone `#{$tone}` in color";
    @return null;
  }

  @warn "unknown color `#{$color}` in palette";
  @return null;
}
