@use "../sections/helpers" as *;

.container {
  margin: 0 auto;

  @include mediaMobile {
    max-width: 460px;
    padding-inline: $container-padding-inline;
  }

  @include mediaTablet {
    max-width: 850px;
    padding-inline: $container-padding-inline;
  }

  @include mediaDesktop {
    max-width: 1200px;
    padding-inline: $container-padding-inline;
  }
}

.nav-container {
  @extend .container;

  @include mediaMobile {
    max-width: 100%;
  }
}
