$section-margin-top: 5rem;
$section-within-margin-top: 2.2rem;

$font-primary: "Roboto Mono", monospace;
$font-secondary: "Lato", sans-serif;

$smallest-screen: 320px;

$container-padding-inline: 1rem;
$container-mobile-max-width: 460px;
